# Importing necessary necessary libraries :

In [1]:
import selenium
from selenium import webdriver
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [89]:
driver = webdriver.Chrome('chromedriver1.exe')

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos' 
driver.get(url)

In [4]:
rank = []
name=[]
artist =[]
date=[]
views=[]

r=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in r:
    rank.append(i.text)
n=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for j in n:
    name.append(j.text)
a=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for k in a:
    artist.append(k.text)
d=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for l in d:
    date.append(l.text)
v=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for m in v:
    views.append(m.text)
        
print(len(rank))
print(len(name))
print(len(artist))
print(len(date))
print(len(views))

30
30
30
30
30

In [5]:
df = pd.DataFrame({'Rank':rank,
                 'Name':name,
                 'Artist':artist,
                 'Date':date,
                 'Views':views})
df

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.23
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.75
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.18
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.62
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.42
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.01
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,"January 31, 2012",4.48
8,9.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.48
9,10.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.47
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.35
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.86
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.70
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.65
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.53
15,16.,"""Sorry""[34]",Justin Bieber,"October 22, 2015",3.51
16,17.,"""Counting Stars""[35]",OneRepublic,"May 31, 2013",3.51
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.41
18,19.,"""Girls Like You""[37]",Maroon 5,"May 31, 2018",3.24
19,20.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",3.24
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.23
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.23
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.18
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.17
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.17
25,26.,"""Shake It Off""[44]",Taylor Swift,"August 18, 2014",3.15
26,27.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.14
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.10
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.06
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.04

2. Scrape the details team India’s international fixtures from bcci.tv.

In [6]:
url = 'https://www.bcci.tv/' 
driver.get(url)

In [7]:
International = driver.find_element_by_xpath('//li[@class="nav-item ml-0"]/a')
International.click()

In [8]:
series = []
odi = []
date = []
time = []
place = []

ser = driver.find_elements_by_xpath('//h5[@class="fix-text"][2]/span')
for i in ser:
    series.append(i.text)
od = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[1]')
for j in od:
    odi.append(j.text.replace('-',''))
da = driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')
for k in da:
    date.append(k.text)
ti = driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')
for l in ti:
    time.append(l.text)
pl = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[2]')
for m in pl:
    place.append(m.text)
    
print(len(series))
print(len(odi))
print(len(date))
print(len(time))
print(len(place))

4
4
4
4
4

In [9]:
df2 = pd.DataFrame({'Match Title':odi,
                   'Series':series,
                   'Place':place,
                   'Date':date,
                   'time':time})
df2

,Match Title,Series,Place,Date,time
0,5th ODI,INDIA WOMEN TOUR OF NEW ZEALAND ODI SERIES 2022,"John Davies Oval,",24 FEB 2022,3:30 AM IST
1,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,24 FEB 2022,7:00 PM IST
2,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium,",26 FEB 2022,7:00 PM IST
3,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium,",27 FEB 2022,7:00 PM IST

3. Scrape the details of selenium exception from guru99.com.

In [21]:
url = 'https://www.guru99.com/' 
driver.get(url)

In [22]:
selenium = driver.find_element_by_xpath('//ul[@class="menu1"]/li[3]')
selenium.click()

In [23]:
exception = driver.find_element_by_xpath('//table[@class="table"][5]/tbody/tr[34 ]/td[1]')
exception.click()

In [24]:
name = []
description = []

nam = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in nam:
    name.append(i.text)
des = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for j in des:
    description.append(j.text)
print(len(name))
print(len(description))

41
41

In [25]:
df3 = pd.DataFrame({'Name':name,'Description':description})
df3

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [26]:
url = 'http://statisticstimes.com/' 
driver.get(url)

In [27]:
economy = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [28]:
india = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [32]:
gdp = driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]//li[1]/a')
gdp.click()

In [34]:
rank = []
state = []
gsdp1_19_20 = []
gsdp1_18_19 = []
share = []
gdp = []
gsdp2_19_20 = []
gsdp2_18_19 = []

ran = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[1]')
for i in ran:
    rank.append(i.text)
sta = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[2]')
for j in sta:
    state.append(j.text)
gsd1 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[3]')
for k in gsd1:
    gsdp1_19_20.append(k.text)
gsd2 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[4]')
for l in gsd2:
    gsdp1_18_19.append(l.text)
sha = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[5]')
for m in sha:
    share.append(m.text)
gd = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[6]')
for n in gd:
    gdp.append(n.text)
gsd3 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[7]')
for o in gsd3:
    gsdp2_19_20.append(o.text)
gsd4 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[8]')
for p in gsd4:
    gsdp2_18_19.append(p.text)
    
print(len(rank))
print(len(state))
print(len(gsdp1_19_20))
print(len(gsdp1_18_19))
print(len(share))
print(len(gdp))
print(len(gsdp2_19_20))
print(len(gsdp2_18_19))

33
33
33
33
33
33
33
33

In [35]:
df4 = pd.DataFrame({'Rank':rank,
                   'State':state,
                   'GSDP(Cr INR at Current prices)(19-20)':gsdp1_19_20,
                  'GSDP(Cr INR at Current prices)(18-19)':gsdp1_18_19,
                  'Share':share,
                   'GDP($billion)':gdp,
                   'GSDP(Cr INR at 2011-12 prices)(19-20)':gsdp2_19_20,
                   'GSDP(Cr INR at 2011-12 prices)(18-19)':gsdp2_18_19})
df4

,Rank,State,GSDP(Cr INR at Current prices)(19-20),GSDP(Cr INR at Current prices)(18-19),Share,GDP($billion),GSDP(Cr INR at 2011-12 prices)(19-20),GSDP(Cr INR at 2011-12 prices)(18-19)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

5. Scrape the details of trending repositories on Github.com.

In [40]:
url = 'https://github.com/' 
driver.get(url)

In [41]:
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [42]:
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()

In [43]:
title = []
description = []
contributer = []

soup=BeautifulSoup(driver.page_source,'html.parser')
tit = soup.find_all('h1',attrs={'h3 lh-condensed'})
for i in tit:
    try:
        title.append(i.find('span').text.strip('\n'))
    except AttributeError:
        title.append("No details available")
desc = soup.find_all('article',attrs={'Box-row'})
for j in desc:
    try:
        description.append(j.find('p').text.split('\n')[-2])
    except AttributeError:
        description.append("No details available")
cont = soup.find_all('div',attrs={'f6 color-fg-muted mt-2'})
for k in cont:
    try:
        contributer.append(k.find('a').text)
    except AttributeError:
        contributer.append("No details available")
        
print(len(title))
print(len(description))
print(len(contributer))

25
25
25

In [46]:
urls = []

links = driver.find_elements_by_xpath('//article[@class="Box-row"]//h1//a')

for url in links:
    urls.append(url.get_attribute('href'))
urls

['https://github.com/Anduin2017/HowToCook',
 'https://github.com/commaai/openpilot',
 'https://github.com/withfig/autocomplete',
 'https://github.com/doocs/advanced-java',
 'https://github.com/BySergeyDev/NvidiaRTX-LHRv2Unlocker',
 'https://github.com/labuladong/fucking-algorithm',
 'https://github.com/J0hnbX/RedTeam-Resources',
 'https://github.com/danistefanovic/build-your-own-x',
 'https://github.com/vvmdx/Sec-Interview-4-2023',
 'https://github.com/coding-horror/basic-computer-games',
 'https://github.com/zadam/trilium',
 'https://github.com/automerge/automerge',
 'https://github.com/danielbeach/data-engineering-practice',
 'https://github.com/netdata/netdata',
 'https://github.com/NVlabs/instant-ngp',
 'https://github.com/rui314/mold',
 'https://github.com/iperov/DeepFaceLive',
 'https://github.com/tiangolo/fastapi',
 'https://github.com/cat-milk/Anime-Girls-Holding-Programming-Books',
 'https://github.com/hasura/graphql-engine',
 'https://github.com/ant-design/pro-components',
 'https://github.com/aquasecurity/cloudsploit',
 'https://github.com/cube0x0/BofRoast',
 'https://github.com/cosmtrek/air',
 'https://github.com/OpenZeppelin/openzeppelin-contracts']

In [48]:
title_of_repository = []
repository_description = []
count_of_contributors = []
language_in_use = []

for i in urls:
    driver.get(i)
    
    try:
        title = driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center wb-break-word f3 text-normal"]/span[1]')
        title_of_repository.append(title.text.replace('\n',''))
    except NoSuchElementException:
        title_of_repository.append('-')
        
    
    try:
        descrip = driver.find_element_by_xpath('//div[@class="BorderGrid-cell"]//p')
        repository_description.append(descrip.text.replace('\n',''))
    except NoSuchElementException:
        repository_description.append('-')

    
    try:
        count = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        count_of_contributors.append(count.text)
        
    except NoSuchElementException:
        count_of_contributors.append('-')
    
    try:
        lang = driver.find_element_by_xpath('//li[@class="d-inline"]//a//span')
        language_in_use = [].append(lang.text.replace('\n',''))
    except NoSuchElementException:
        language_in_use = [].append('-')

In [52]:
df5 = pd.DataFrame({})
df5['repository_title'] = title_of_repository
df5['repository_description'] = repository_description
df5['contributors_count']  = count_of_contributors
df5['language_used'] = language_in_use
df5

,repository_title,repository_description,contributors_count,language_used
0,Anduin2017,程序员在家做饭方法指南。Programmer's guide about how to co...,121,None
1,commaai,openpilot is an open source driver assistance ...,280,None
2,withfig,Fig adds autocomplete to your terminal.,182,None
3,doocs,😮 Core Interview Questions & Answers For Exper...,31,None
4,BySergeyDev,The first fully automated BIOS modifier for RT...,-,None
5,labuladong,刷算法全靠套路，认准 labuladong 就够了！English version supp...,97,None
6,J0hnbX,-,3,None
7,danistefanovic,🤓 Build your own (insert technology here),72,None
8,vvmdx,一个2023届毕业生在毕业前持续更新、收集的安全岗面试题及面试经验分享~,-,None
9,coding-horror,"An updated version of the classic ""Basic Compu...",158,None
10,zadam,Build your personal knowledge base with Triliu...,58,None
11,automerge,A JSON-like data structure (a CRDT) that can b...,57,None
12,danielbeach,Data Engineering Practice Problems,-,None
13,netdata,"Real-time performance monitoring, done right! ...",496,None
14,NVlabs,Instant neural graphics primitives: lightning ...,10,None
15,rui314,mold: A Modern Linker,34,None
16,iperov,Real-time face swap for PC streaming or video ...,2,None
17,tiangolo,"FastAPI framework, high performance, easy to l...",294,None
18,cat-milk,Anime Girls Holding Programming Books,166,None
19,hasura,"Blazing fast, instant realtime GraphQL APIs on...",415,None
20,ant-design,🏆 Use Ant Design like a Pro!,421,None
21,aquasecurity,Cloud Security Posture Management (CSPM),63,None
22,cube0x0,Beacon Object Files for roasting Active Directory,-,None
23,cosmtrek,☁️ Live reload for Go apps,33,None
24,OpenZeppelin,OpenZeppelin Contracts is a library for secure...,307,None

6. Scrape the details of top 100 songs on billiboard.com.

In [53]:
url = 'https:/www.billboard.com/' 
driver.get(url)

In [54]:
hot = driver.find_element_by_xpath('//div[@class="lrv-u-flex lrv-u-background-color-white u-height-45"]//li[1]')
hot.click()

In [55]:
songs = []
artists = []
last = []
peak = []
board = []

son = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]//h3')
for i in son:
    songs.append(i.text)
art = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[1]//span[1]')
for j in art:
    artists.append(j.text)
las = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[4]')
for k in las:
    last.append(k.text)
pek = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[5]')
for l in pek:
    peak.append(l.text)
bot = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[6]')
for m in bot:
    board.append(m.text)

print(len(songs))
print(len(artists))
print(len(last))
print(len(peak))
print(len(board))

100
100
100
100
100

In [56]:
df6 = pd.DataFrame({'Songs':songs,
                   'Artist':artists,
                   'Last Week Rank':last,
                   'Peak rank':peak,
                   'Weeks on board':board})
df6

,Songs,Artist,Last Week Rank,Peak rank,Weeks on board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,84,1,14
96,Come Back As A Country Boy,Blake Shelton,89,85,5
97,Iffy,Chris Brown,96,71,5
98,Home Sweet,Russell Dickerson,94,88,5
99,Too Easy,Gunna & Future,92,16,16

7. Scrape the details of Data science recruiters from naukri.com.

In [59]:
url = 'https://www.naukri.com/data-collection-recruiters' 
driver.get(url)

In [60]:
search = driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
search.clear()
search.send_keys('Data Scientist')
search = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')
search.click()

In [61]:
name = []
designation = [] 
company = []
skills = []
location = []

na = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a/span')

for i in na:
    name.append(i.text)
desig = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/span[1]')
for j in desig:
    designation.append(j.text)
com = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[2]')
for k in com:
    company.append(k.text)
ski = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[2]')
for n in ski:
    skills.append(n.text)
    
soup=BeautifulSoup(driver.page_source,'html.parser')
loc =soup.find_all('div',attrs={'vcard'})
for i in loc:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")

print(len(name))
print(len(designation))
print(len(company))
print(len(location))
print(len(skills))

50
50
50
50
50

In [62]:
df7 = pd.DataFrame({'Name':name,
                   'Designation':designation,
                   'Company':company,
                   'Skills required':skills,
                   'Location':location})
df7

,Name,Designation,Company,Skills required,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
10,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Ankit Soni,Talent Acquisition,Seven N Half,"Relationship Management, Branch Management, Br...",Ahmedabad
26,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
31,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
32,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
33,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
34,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",No details available
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Mumbai
37,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Bengaluru / Bangalore
38,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Pune
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad
40,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
41,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
42,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Bengaluru / Bangalore
43,navya neluri,Data Scientist,asens labs,Not Specified,Hyderabad / Secunderabad
44,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Pune
45,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Mumbai
46,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
47,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Hyderabad / Secunderabad
48,Zack,Recruitment Manager,Perex Engineering Pvt Ltd,"Software Development, Javascript, Core Java, J...",Hyderabad / Secunderabad
49,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad

8. Scrape the details of Highest selling novels.

In [64]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare' 
driver.get(url)

In [66]:
title = []
author = []
volume = []
publisher = []
genre = []

tit = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[2]')
for i in tit:
    title.append(i.text)
auth = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[3]')
for j in auth:
    author.append(j.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[4]')
for k in vol:
    volume.append(k.text)
publish = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[5]')
for l in publish:
    publisher.append(l.text)
genr = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[6]')
for m in genr:
    genre.append(m.text)
    
print(len(title))
print(len(author))
print(len(volume))
print(len(publisher))
print(len(genre))

100
100
100
100
100

In [67]:
df8 = pd.DataFrame({'Book name':title,
                   'Author name':author,
                   'Volumes sold':volume,
                   'Publisher':publisher,
                   'Genre':genre})
df8

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.

In [68]:
url = 'https://www.imdb.com/list/ls095964455'
driver.get(url)

In [69]:
name = []
year = []
genre = []
time = []
ratings = []
votes = []

nam = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')
for i in nam:
    name.append(i.text)
yer = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/span[2]')
for j in yer:
    year.append(j.text)
genr = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[5]')
for k in genr:
    genre.append(k.text)
tym = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[3]')
for l in tym:
    time.append(l.text)
ratin= driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]/div/span[2]')
for m in ratin:
    ratings.append(m.text)
vote = driver.find_elements_by_xpath('//p[@class="text-muted text-small"][3]/span[2]')
for n in vote:
    votes.append(n.text)

print(len(name))
print(len(year))
print(len(genre))
print(len(time))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [70]:
df9 = pd.DataFrame({'Name':name,
                   'Year':year,
                   'Genre':genre,
                   'Run Time':time,
                   'Ratings':ratings,
                   'Votes':votes})
df9

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,955,773"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"965,661"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"931,559"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"278,935"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"239,117"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,774"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,499"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,598"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,283"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"221,883"

10. Details of Datasets from UCI machine learning repositories.

In [95]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [96]:
view = driver.find_element_by_xpath('//span[@class="whitetext"][2]/a[1]')
view.click()

In [97]:
name = []
typee = []
task = []
attribute = []
instances = []
attributes = []
year = []

nam = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
typ = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
tas = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
inst = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
yea = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

for i in nam[1:]:
    name.append(i.text)
for j in typ[1:]:
    typee.append(j.text)
for k in tas[1:]:
    task.append(k.text)
for l in attri[1:]:
    attribute.append(l.text)
for m in inst[1:]:
    instances.append(m.text)
for n in attri[1:]:
    attributes.append(n.text)
for o in yea[1:]:
    year.append(o.text)
    
print(len(name))
print(len(typee))
print(len(task))
print(len(attribute))
print(len(instances))
print(len(attributes))
print(len(year))

622
622
622
622
622
622
622

In [99]:
df10 = pd.DataFrame({'Name':name,
                    'Data Types':typee,
                    'Default Task':task,
                    'Attribute Types':attribute,
                    'Number of Instances':instances,
                    'Number of Attributes':attributes,
                    'Year':year})
df10

,Name,Data Types,Default Task,Attribute Types,Number of Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,8,4177,8,1995
1,Adult,Multivariate,Classification,14,48842,14,1996
2,Annealing,Multivariate,Classification,38,798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,294,37711,294,1998
4,Arrhythmia,Multivariate,Classification,279,452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,525,75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,50,400,50,2020
619,Maternal Health Risk Data Set,,Classification,7,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,16,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,2,4000,2,2021